spring:
  application:
    name: j-gcp
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 9376570167
    hikari:
      maximum-pool-size: 100 # Увеличено для высокой параллельности
      minimum-idle: 20
      connection-timeout: 30000
  data:
    web:
      pageable:
        default-page-size: 50
        max-page-size: 2000 # Позволяет тестировать тяжелые страницы
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false # Критично для скорости
    properties:
      hibernate:
        jdbc.batch_size: 100
        order_inserts: true
        generate_statistics: false # Выключено для экономии ресурсов CPU

server:
  port: 8080
  tomcat:
    threads:
      max: 500 # Увеличено, чтобы обрабатывать 200+ VUs без очереди
    max-connections: 10000

logging:
  level:
    root: INFO
    org.hibernate: ERROR # Выключаем лишний шум